# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
import sklearn as skl
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

WARNING:tensorflow:From c:\Users\traug\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
target = loans_df["credit_ranking"]

# Display a sample of y
target.values[:5]

array([0, 0, 0, 1, 0], dtype=int64)

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking", axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, target, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
X_scaler = skl.preprocessing.StandardScaler()
# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
##Above is a duplicate statement creating confusion. I rewrote the instruction to read "Scale the data" instead of "Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
input_nodes

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 5


# Define the number of neurons in the output layer
output_nodes = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_nodes, activation="relu")
)

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=output_nodes, activation="sigmoid"))

WARNING:tensorflow:From c:\Users\traug\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 96

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 147 (588.00 Byte)
Trainable params: 147 (588.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\traug\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From c:\Users\traug\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\traug\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

38/38 [==============================] - 1s 6ms/step - loss: 0.7975 - accuracy: 0.5471
Epoch 2/50
38/38 [==============================] - 0s 2ms/step - loss: 0.7231 - accuracy: 0.5530
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6843 - accuracy: 0.5863
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6607 - accuracy: 0.6364
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6409 - accuracy: 0.6689
Epoch 6/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6231 - accuracy: 0.6864
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6067 - accuracy: 0.6989
Epoch 8/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5912 - accuracy: 0.7114
Epoch 9/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5771 - accuracy: 0.7206
Epoch 10/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5647 - accuracy: 0.7256
Epoch 11/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5550 - accuracy: 0.7306
Epoch 12/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5475 - accuracy: 0.7314
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5422 - accuracy: 0.7348
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5379 - accuracy: 0.7373
Epoch 15/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5347 - accuracy: 0.7381
Epoch 16/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 17/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5303 - accuracy: 0.7389
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5285 - accuracy: 0.7398
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5270 - accuracy: 0.7415
Epoch 20/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5264 - accuracy: 0.7415
Epoch 21/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5248 - accuracy: 0.7465
Epoch 22/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5238 - accuracy: 0.7423
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5229 - accuracy: 0.7448
Epoch 24/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5214 - accuracy: 0.7481
Epoch 25/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5203 - accuracy: 0.7490
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5194 - accuracy: 0.7523
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5179 - accuracy: 0.7515
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5170 - accuracy: 0.7540
Epoch 29/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5159 - accuracy: 0.7565
Epoch 30/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5148 - accuracy: 0.7581
Epoch 31/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5140 - accuracy: 0.7531
Epoch 32/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5129 - accuracy: 0.7565
Epoch 33/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5120 - accuracy: 0.7515
Epoch 34/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5107 - accuracy: 0.7540
Epoch 35/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5103 - accuracy: 0.7540
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5098 - accuracy: 0.7540
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5085 - accuracy: 0.7573
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5079 - accuracy: 0.7540
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5072 - accuracy: 0.7565
Epoch 40/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5064 - accuracy: 0.7556
Epoch 41/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5062 - accuracy: 0.7531
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5053 - accuracy: 0.7573
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5043 - accuracy: 0.7581
Epoch 44/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5033 - accuracy: 0.7523
Epoch 45/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.7598
Epoch 46/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5020 - accuracy: 0.7573
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5016 - accuracy: 0.7573
Epoch 48/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5006 - accuracy: 0.7573
Epoch 49/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5000 - accuracy: 0.7581
Epoch 50/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4998 - accuracy: 0.7590

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5099 - accuracy: 0.7500 - 218ms/epoch - 17ms/step
Loss: 0.5098655819892883, Accuracy: 0.75

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_model_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
predictions = nn_model.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 108ms/epoch - 8ms/step

array([[0.41253722],
       [0.29988286],
       [0.8808383 ],
       [0.6809006 ],
       [0.9747096 ]], dtype=float32)

In [20]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [21]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.71      0.78      0.75       188
           1       0.79      0.72      0.75       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.
I would include the features from the included data file:
payment_history - can indicate behaviorial pattern        
stem_degree_score - can indicate typical salary for jobs in that field         
gpa_ranking - can indicate degree of success and application to priorities                
alumni_success - pulls in patterns from alumni          
study_major_code - another way to that can indicate typical salary for jobs in that field         
time_to_completion - likely indicator of when the student will be able to begin repayment on loan       
finance_workshop_score - indicate loan knowledge and successful repayment intention    
total_loan_score - help indicate how leveraged the student is         
financial_aid_score -      
credit_ranking - indicate how successful the student has been with established line of credit and repayment terms           

From this information I would offer recommendations that included:
- Interest Rates depending on the loan options available, such as length of loan, type of loan repayment options (interest only, graduated, fixed interst, variable interest rate)
- Repayment Terms: options that provide repayment schedules
- Fees and Penalties to account for late payments, loan default
- Market Interest Rates: as these also affect loan rates and student affordability.

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**
I would choose a content-based filtering recommendation system. This is because we have collected features primarily based on the individual's response.  These questions and responses are specific and detailed information about their financial history and future potential.  We are able to modify or provide term options based off of the collected features.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
1. Data history. Students are generally new to the financial world.  They do not typically have a long history, if any, for assessing suitability based on repayment history, credit score, or salary information.  This could skew recommendations because recommendations for these students would likely be considered high - risk, and therefore, less than optimal loan conditions.

2. Reliability and Security.  When creating any system that houses personal and sensitive information, we would need to make sure that the cyber security of the data collection and interatction with clients throughout the process.